{% extends "base.html.twig" %}

{# DEFINES TITLE #}
{% block title %}
    {{ title }}
{% endblock %}

{# DEFINES SIDE TITLE BUTTONS #}
{% block titleButtons %}
    {# <a class="btn btn-sm btn-primary" href="{{ route('projects.create')}}">New</a> #}
{% endblock %}

{# DEFINES SUBTITLE #}
{% block subtitle %}
    {{ subtitle }}
{% endblock %}

{# DEFINES PAGE CONTENT #}
{% block content %}

    <form action="{{ path('app_situations_update', {id:situation.id}) }}" method="POST" class="form-group">
        <input type='hidden' name="_method" value="PUT">

        <div class="row">
            <div class="col">
                <label for="name">Name</label>
                <input class="form-control" type="text" name="situationName" value="{{ situation.situation }}" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a class="btn btn-danger" href="{{ path('app_situations_index') }}">back</a>
                <button class="btn btn-success" type="submit">Just Save</button>
            </div>
        </div>

    </form>

    {% for message in app.flashes('success') %}
        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}